*.model
assignments/completed/datasets/*
assignments/completed/project/models/*
*.pyc
*.root
*/.ipynb_checkpoints
*.pdf
*.zip
*.out
*.synctex.gz
*.tex
*.bib
*.cls
assignments/completed/project/untitled_project/*
assignments/completed/project/logs/*
